// Place all the styles related to the Shoes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Extracted from fiddle https://codepen.io/kybarg/pen/PqaOOg
.mdl-button--file {
  input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }
}

.mdl-textfield--file {
  .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
  }
  .mdl-button--file {
    right: 0;
  }
}

.shoes__show_photo{
  text-align: center; 
  .shoes__photo_description{
    padding-top: 15px;
    font-weight: bold;
  }
}
