<h1><%= I18n.t 'form.create_shoe' %></h1>

<%= render 'form', shoe: @shoe %>

<div class="mdl-cell">
  <%= link_to t('form.backto_list'), shoes_path, class: 'md-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
</div>
